html{
    -ms-overflow-x: hidden;
    overflow-x: hidden;
}
body{
    font-family: BlinkMacSystemFont,-apple-system, "Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    background: url("../img/background.jpg");
}

.page-container{
    padding-top: 2rem;
}

/*a.social{
    width: 56px;
    height: 56px;
    font-size: 1.8em;
    border-width: 5px;
}

a.spotify{
    color: #1ED760;
    transition: 0.3s
}
a.spotify:hover{
color:lightgrey;
}

a.itunes{
    color: #000;
    transition: 0.3s
}

a.itunes:hover{
    color:lightgrey;
}*/

img.artwork{
    width: 56px;
    height: 56px;
}

div.albumImg{
    width: 56px;
    height: 56px;
    background: lightgrey;
}

.controls__current-time h5, .controls__current-time h6 {
    text-align: left;
    line-height: normal;
    margin: 0;
}

.controls__current-time h5{
    font-size: 1.1em;
    font-weight: 600;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .controls__current-time h5{
        font-size: 3.3vw;
        font-weight: 600;
    }

    .page-container{
        padding-left: 0.4rem !important;
        padding-right: 0.4rem !important;
    }

}

.controls__current-time h6{
    font-size: 0.8em;
    font-weight: 500;
}


.controls__total-time h5{
    display: inline;
    font-size: 1.1em;
    font-weight: 600;
    text-align: left;
    line-height: normal;
    margin: 0;
}
.controls__total-time i{
    font-size: 1.3em;
}

.blink_me {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

